.form {
  margin: 0 16px;
  padding: 16px 0;
  height: calc(100vh - 84px);
  display: flex;
  flex-direction: column;
  > p {
    text-align: center;
    padding-bottom: 16px;
  }
  > .buttons {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    > .button {
      width: 100%;
      &.danger {
        background: var(--button-danger-bg);
        margin-top: 16px;
      }
    }
  }
}
