:root {
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #2f7e79;
  --welcome-bg-end: #438883;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --transition-duration: 0.5s;
  --navBar-icon-color: white;
  --navBar-title-color: white;
  --tabs-text-color: white;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
}
