:root {
  --border-radius: 8px;
  --welcome-card-bg: white;
  --welcome-text: white;
  --welcome-bg-start: #2f7e79;
  --welcome-bg-end: #438883;
  --welcome-nav-height: 64px;
  --welcome-nav-gap: 8px;
  --transition-duration: 0.5s;
  --navBar-icon-color: white;
  --navBar-title-color: white;
  --tabs-text-color: white;
  --tabs-indicator-bg: rgba(255, 255, 255, 0.5);
  --button-bg: #438883;
  --button-text-color: white;
  --button-radius: 8px;
  --button-height: 48px;
  --top-safe-area-height: 24px;
  --overlay-mask-bg: rgba(0, 0, 0, 0.5);
  --overlay-mask-index: 8;
  --overlay-index: 16;
  --overlay-bg-start: #2f7e79;
  --overlay-bg-end: #438883;
  --overlay-ol-bg: white;
  --overlay-h2-text-color: white;
  --overlay-span-text-color: #999999;
  --inputPad-bg: #d8d8d8;
  --number-button-color: #333333;
  --number-save-button-color: white;
  --inputPad-content-bg: white;
  --inputPad-content-radius: 8px;
  --logo-nav-text-color: #999999;
  --logo-nav-text-selected-color: #333333;
  --tagName-input-bg: #e9e9e9;
  --logo-bg: #d8d8d8;
  --button-danger-bg: #be3333;
  --error-text-color: #be3333;
  --itemSummary-total-bg: #d8d8d8;
  --expense-color: #be3333;
  --income-color: #438883;
  --dateAndNotes-text-color: #999999;
  --border-bottom-color: #d8d8d8;
  --dateOverlay-bg: #d8d8d8;
  --dateOverlay-title-bg: #438883;
  --dateOverlay-input-bg: white;
  --dateOverlay-input-text-color: #999999;
}
