label {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
  > .text {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    > .error {
      padding-left: 8px;
      font-size: 12px;
      color: var(--error-text-color);
    }
  }
  > .textInput {
    width: 100%;
    border: none;
    background: var(--tagName-input-bg);
    height: 56px;
    border-radius: var(--border-radius);
    font-size: 20px;
    padding: 8px;
  }
  > .dateInput {
    width: 100%;
    border: none;
    background: var(--dateOverlay-input-bg);
    height: 42px;
    border-radius: var(--border-radius);
    font-size: 20px;
    padding: 8px;
  }
}
