.charts {
  padding: 16px;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 140px 0;
  > .icon {
    width: 96px;
    height: 96px;
  }
  > span {
    font-size: 24px;
    color: #d8d8d8;
  }
}
